html {
    font-size: 20px;
    font-family: "Noto Sans", sans-serif;
    color: darkgray;
    background-color: black;
    margin: 0 5%;
}

h1 {
    font-size: 60px;
    margin: 0;
    padding: 20px 0;
}

img {
    width: 100%;
}

.subtitles {
    font-size: 16px;
    font-style: italic;
    padding-bottom: 10px;
}
